
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}
header {
background-image: url("/headphones/images/headphones_hero_1.jpg");
    height: 100vh;
}

.section-one {
    display: flex;
    justify-content:space-around;
    /* margin-top: 30px; */
}

header .one {
color: white;
}
header .two {
    display: flex;
    justify-content:  center;
    gap: 10px;
    padding: 0 50px;
    margin: 35px 20px;
}
header .two a {
    text-decoration: none;
}
header .two a:hover {
    color: red;
}
header .section-two {
    margin: 0 auto;
    text-align: center;
    color: white;
    
}


header .section-two h1{
    margin-top: 100px;
}
header .section-two button {
    padding: 10px;
    border-radius: 20px;
    background: orangered;
    margin-top: 80px;
    color: #fff;
    text-transform: uppercase;
}
header .section-two p {
    width: 700px;
    margin: 100px auto;
    text-align: center;
}

/* What we do section */

.what{
    height: 80vh;
}

article .three {
    margin: 30px auto;
    text-align: center;
    width: 50%;
}
article .four {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}


/* result section */
.result-section {
    background-image: url("/headphones/images/headphones_hero_2.jpg");
    height: 70vh;
    color: #fff;
}

.result-section .five {
    margin: 0 auto;
    text-align: center;
    width: 70%;
    padding-top: 50px;
}
.result-section .six {
    width: 10px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.result-section .six img {
    width: 80px;
    margin-top: 80px;
    padding: 10px;
}
.result-section .five p {
    margin-top: 30px;
}
.contact-us{
    margin: 0 auto;
    text-align: center;
    height: 70vh;
}
.contact-us .form form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
}
.contact-us .form form input {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid black;
}
.contact-us h1 {
    margin-top: 80px;
    font-size: 40px;
}

.contact-us .form button {
    padding: 10px;
    border-radius: 20px;
    background: orangered;
    margin-top: 20px;
    color: #fff;
    text-transform: uppercase;
}

footer {
    background-color: black;
    height: 40vh;
    display: flex;
    justify-content: space-around;
}



footer .social i {
    color: white;
    margin-top: 30px;
    font-size: 40px;
    border-radius: 50%;
    padding: 20px;
}
footer div img {
    margin-top: 30px;
}

@media screen and (max-width: 500px){
    body {
        background: red;
    }
    .section-one {
    display: block;
}
header .two {
    display: block;
    margin: 20px auto;
    text-align: center;
}

header .section-one .one img {
    font-size: 2px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
header .section-two h1{
    margin-top: 50px;
    font-size: 20px;
}
header .section-two h4 {
    font-size: 15px;
}
header .section-two button {
    padding: 5px;
    border-radius: 10px;
    background: orangered;
    margin-top: 80px;
    color: #fff;
    text-transform: uppercase;
}
header .section-two p {
    width: 500px;
    margin: 100px auto;
    text-align: center;
    font-size: 15px;
} 
.what {
    height: 100vh;
}
.result-section {
    height: 300px;
}
article .four {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.result-section .five {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    padding-top: 50px;
}
.result-section .six {
    width: 10px;
    display: block;
}
.result-section .six img {
    width: 50px;
    margin-top: 5px;
    padding: 10px;
}
.result-section {
    background-image: url("/headphones/images/headphones_hero_2.jpg");
    height: 100vh;
    color: #fff;
}
.contact-us .form button {
    padding: 10px;
    border-radius: 20px;
    background: orangered;
    color: #fff;
    text-transform: uppercase;
}
.contact-us {
    height: 100vh;
}
footer {
    display: block;
    margin: 0 auto;
    text-align: center;
}
footer .social i {
    color: white;
    margin-top: 30px;
    font-size: 40px;
    border-radius: 50%;
    padding: 20px;
}
footer div img {
    margin-top: 30px;
}


}